// 第三方库的css样式修改
@import "variable";

.mt-progress-progress{
  background-color: @primary;
}

router-link-exact-active, router-link-active{
  background: white!important;
}
.mint-cell-wrapper{
  background-image: none;
}
.mint-radio-input:checked + .mint-radio-core{
  background-color: #E84843!important;
  border-color: #E84843!important;
}


.mint-radio-label{
  margin-left: 1rem;
}
.mint-cell:last-child{
  background-image:none!important;
}
.mint-msgbox-confirm {
  font-size: 1rem!important;
}
.mint-msgbox-cancel{
  font-size: 1rem!important;
}

//按钮：
.mint-cell-wrapper{
  padding: 0;
}
.mint-radiolist-label{
  display: block;
  position: relative;
  .mint-radio{
    width: 1rem;
    position: absolute;
    left: 0;
  }
  .mint-radio-label{
    float: left;
    line-height: 1.4rem;
    word-break: break-all;
    padding-left: 0.2rem;
  }
}